body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgba(101, 33, 165);
  color: #fff;
  padding: 20px;
  text-align: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.noticia {
  background-color: #ece3e3;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 20px;
  padding: 20px;
}

.noticia h2 {
  margin-top: 0;
}

.boton {
  background-color: rgba(101, 33, 165);
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  margin-top: 20px;
  display: block;
}

footer {
  background-color: rgba(101, 33, 165);
  color: #fff;
  padding: 20px;
  text-align: center;
}