body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(101, 33, 165);
    color: #fff9f9;
    padding: 1em;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

section {
    background-color: #e7e7e7;
    padding: 1em;
    margin-bottom: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.galeria img {
    width: 20%;
    margin: 1em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(119, 67, 67, 0.1);
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }
    .galeria img {
        width: 40%;
    }
}

@media (max-width: 480px) {
    .galeria img {
        width: 60%;
    }
}